@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding-top: 80px;
}

.div_conocenos, .div_eleginos {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.div_img {
  width: 40%;
}
.div_img img {
  width: 100%;
}

.div_p {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
}
.div_p p {
  text-align: center;
}

.div_propuestas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
}

.div_eleginos {
  width: 100%;
}

.div_noticias {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 20px;
}

.bg-nav, .dropdown-menu {
  background-color: #181823;
}

.menu-items > li a {
  color: #EFF5F5;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.menu-items > li a:hover {
  text-transform: uppercase;
  font-weight: 700;
  color: #FC7300;
}

.footer {
  display: flex;
  height: 180px;
  background-color: #bfc0bf;
}

.f_redSocial, .f_school, .f_contacto {
  display: flex;
  flex-direction: column;
  width: 33.3%;
}

.f_school {
  align-items: center;
}

.link_redSocial a {
  color: #222;
  text-decoration: none;
}

.link_redSocial a:hover {
  color: #00425A;
}

.link_consu {
  color: #00425A;
  font-weight: 600;
}

.link_consu:hover {
  color: #FC7300;
  text-decoration: none;
}

.mapa iframe {
  width: 340px;
  height: 115px;
}

.title_brand {
  font-family: "Ysabeau SC", sans-serif;
  text-shadow: #FFF 0.1em 0.1em 0.1em;
  font-size: 3em;
}

.title_section {
  font-family: "Belanosima", sans-serif;
  color: #FC7300;
  text-align: center;
  scroll-margin-top: 70px;
}

.title_footer {
  font-family: "Poppins", sans-serif;
  color: #1F8A70;
  text-align: center;
}

.title_article {
  font-family: "Poppins", sans-serif;
  color: #00425A;
  text-align: center;
  font-weight: 600;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: -22px;
  background: linear-gradient(180deg, #181823 3%, #fff 100%);
}

.brand img {
  width: 10%;
  height: 10%;
}

.conocenos, .propuestas, .eleginos, .noticias {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid #FC7300;
  margin-top: 30px;
  padding: 6px;
}

.card_propuesta {
  position: relative;
  height: 230px;
  width: 20%;
  background-color: rgba(197, 193, 193, 0.425);
  border-radius: 3px;
  border: 1px solid #666;
  box-shadow: 4px 3px 8px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 3px 8px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 8px -1px rgba(0, 0, 0, 0.75);
}
.card_propuesta .card-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 4px;
  background-color: rgba(0, 0, 0, 0.8);
}

.text_card_propuesta {
  font-family: "Poppins", sans-serif;
  color: #FFF;
  text-align: center;
}

.text_card_propuesta:hover {
  color: #FC7300;
  cursor: pointer;
}

.card-img {
  height: auto;
}

.article_noticia {
  padding: 25px;
  width: 30%;
  background-color: rgba(99, 98, 99, 0.1);
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 4px 3px 8px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 3px 8px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 8px 2px rgba(0, 0, 0, 0.75);
}
.article_noticia p {
  color: black;
}

.div_read_more {
  width: 100%;
  padding: 4px;
  background-color: rgba(179, 175, 175, 0.89);
  text-align: center;
}
.div_read_more a:hover {
  text-decoration: none;
  font-weight: 500;
  color: #FC7300;
}

.form {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #666;
  border-radius: 8px;
  box-shadow: 4px 3px 8px 2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 3px 8px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 3px 8px 2px rgba(0, 0, 0, 0.75);
}

.form textarea {
  resize: none;
}

.group-form {
  margin-bottom: 20px;
}
.group-form label {
  font-weight: 700;
  font-family: "Belanosima", sans-serif;
  font-size: 1.2em;
  color: #1F8A70;
}
.group-form input, .group-form textarea {
  border: 2px solid #00425A;
}

.div-button {
  margin-top: 20px;
}

.btn-enviar {
  border: 2px solid #181823;
}

.btn-enviar:hover {
  background-color: #FC7300;
  border: 2px solid #fff7f7;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card_propuesta {
    width: 40%;
    height: 250px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .card_propuesta .card-img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .footer {
    justify-content: space-around;
  }
  .f_school {
    width: 45%;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .card_propuesta {
    width: 40%;
    height: 250px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .card_propuesta .card-img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .div_noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .article_noticia:first-child, .article_noticia:nth-child(2) {
    width: 100%;
  }
  .article_noticia:last-child {
    grid-column: 1/span 2;
    width: 100%;
  }
  .footer {
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .f_redSocial, .f_contacto {
    width: 100%;
  }
  .f_school {
    margin-top: 15px;
    grid-column: 1/span 2;
    width: 100%;
  }
  .mapa iframe {
    width: 370px;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  .div_conocenos, .div_eleginos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .div_img {
    width: 100%;
  }
  .div_p {
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
  }
  .div_p p {
    text-align: left;
  }
  .card_propuesta {
    width: 40%;
    height: 250px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .card_propuesta .card-img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .div_noticias {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .article_noticia:first-child, .article_noticia:nth-child(2) {
    width: 100%;
  }
  .article_noticia:last-child {
    grid-column: 1/span 2;
    width: 100%;
  }
  .footer {
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .f_redSocial, .f_contacto {
    width: 100%;
  }
  .f_school {
    margin-top: 15px;
    grid-column: 1/span 2;
    width: 100%;
  }
  .mapa iframe {
    width: 481px;
  }
}
@media only screen and (max-width: 480px) {
  .brand {
    flex-direction: column;
  }
  .brand img {
    width: 30%;
    height: 30%;
  }
  .title_brand {
    font-weight: 600;
    text-align: center;
    margin-top: -25px;
  }
  .div_conocenos, .div_eleginos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .div_img {
    width: 100%;
  }
  .div_p {
    width: 100%;
    padding-left: 7px;
    padding-right: 7px;
  }
  .div_p p {
    text-align: left;
  }
  .div_propuestas {
    flex-direction: column;
  }
  .card_propuesta {
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .card_propuesta .card-img {
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .div_noticias {
    display: flex;
    flex-direction: column;
    padding: 3%;
  }
  .article_noticia {
    width: 100%;
  }
  .article_noticia:last-child {
    grid-column: 1/span 2;
    width: 100%;
  }
  .footer {
    height: -moz-fit-content;
    height: fit-content;
    display: grid;
    flex-direction: column;
  }
  .title_footer {
    padding-top: 10px;
  }
  .f_redSocial, .f_contacto, .f_school {
    width: 100%;
  }
  .f_redSocial, .f_contacto {
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
  }
  .mapa iframe {
    width: -moz-fit-content;
    width: fit-content;
  }
}/*# sourceMappingURL=style.css.map */