$colorNaranja: #FC7300;
$colorVerde: #1F8A70;
$colorAzul: #00425A;
$colorGrisOscuro: #181823;
$colorCasiBlanco: #EFF5F5;
$colorGrisClaro: #fff7f7;
$bgFooter: #bfc0bf;
$bgCardPropuesta: rgba(197, 193, 193, 0.425);
$bgArticleNoticia: rgba(99, 98, 99, 0.1);