@import "./colors";
$bgNavBar: $colorGrisOscuro;
$fontItemMenu: 'Poppins', sans-serif;
$fontTitleSection: 'Belanosima', sans-serif;
$fontTitleBrand: 'Ysabeau SC', sans-serif;
$fontTitleFooter: 'Poppins', sans-serif;
$fontTitleArticle: 'Poppins', sans-serif;
$fontCardPropuesta: 'Poppins', sans-serif;
$fontLabelForm: 'Belanosima', sans-serif;